<link href="~/Content/LienHeCss/LienHeCss.css" rel="stylesheet" />
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="aaaa">
    <div class="tieude1">
        <h2>THÔNG TIN LIÊN HỆ</h2>
    </div>
    <div class="thongtintin">
        <i class="fa fa-caret-right fa- "></i>
        <span>ĐỘI XE DU LỊCH</span>
    </div>
    <div class="thongtintin">
        <i class="fa fa-map-marker fa- "></i>
        <span>Địa chỉ:Số 87, đường Nguyễn Thị Minh Khai, phường Hưng Bình,Tp Vinh,tỉnh Nghệ An.</span>
    </div>
    <div class="thongtintin">
        <i class="fa fa-phone-square fa- "></i>
        <span>0987654321</span>
    </div>
    <div class="thongtintin">
        <i class="fa fa-envelope"></i>
        <span>uytin.37@gmail.com</span>
    </div>
</div>
<div class="menu11111">
    <div class="tieude">
        <h1>LIÊN HỆ VỚI CHÚNG TÔI</h1>
    </div>
    <p class="bbbb">
        <input type="text" placeholder="Họ và tên">
        <i class="fa fa-user"></i>
    </p>
    <div class="bbbb">
        <input type="text" placeholder="Số điện thoại">
        <i class="fa fa-phone-square fa- "></i>
    </div>
    <div class="bbbb">
        <input type="text" placeholder="Email">
        <i class="fa fa-envelope"></i>
    </div>
    <div class="bbbb">
        <textarea data-field-id="field5" placeholder="Tin nhắn yêu cầu"></textarea>
    </div>
    <div class="bbbb">
        <button type="submit" class="button submit-button"><span class="text " style="color:#ff0000">GỬI CHO CHÚNG TÔI</span><span class="spin-cover"><i style="color:#ff0000" class="loading-icon icon-cog animate-spin"></i></span></button>
    <br />
    </div>
</div>


<style>
    .HuongDan {
        display: none;
    }

    #ThongTin {
        display: none;
    }

    .QuangCao {
        display: none;
    }
</style>

